.verify-mail h1 {
    color: black;
}

.verify-mail button {
    width: 25%;
    margin: auto;
    color: black;
    background: #ffffff;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 4px 6px 6px #cbced1, -2px -2px white;
    transition: 0.5s;
    margin-bottom: 260px;
    margin-top: 10px;
}

.verify-mail button:hover {
    box-shadow: none;
    color: orange;
}

.verify-mail img {
    width: 350px;
    height: 350px;
}

@media only screen and (max-width: 600px) {
    .verify-mail button {
        width: 60%;
    }
}