.manage-inv{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    
}
.manage-inv button{
    padding: 10px;
    border-radius: 10px;
    background-color:snow;
}
.manage-inv button:hover{
   background-color: black;
   color: whitesmoke;
}